.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
nav ul {
  display: flex;
  background-color:rgb(177, 175, 235);
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgb(78, 77, 151);
  color: white;
}
nav ul li { 
  list-style-type: none;
  margin-right: 16px;
  float:right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-outer-wrapper{
  width: 20%;
  margin: 50px auto;
  padding: 20px 20px 20px 25px;
  box-shadow: 0px 0pc 9px rgb(78, 77, 151);
  border-radius: 10px;
}

.error{
  color:red
}
.right {
  float: right;
}

/* .navbar { background-color: #222; }
a, .navbar-nav, .navbar-light .nav-link {
  color: #9FFFCB;
  /* &:hover{ color: white }; */

/* .navbar-brand {
  font-size: 1.4em;
  color: #9FFFCB;
  /* &:hover { color: white; } */
/* 
.form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
};  */ 
/* 
body{
  margin: 0;
  padding: 0;font-family: "Roboto",sans-serif;
}
header {
  position:fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height:30px
}
.left_area h3{
color: #fff;
margin:0;
text-transform:uppercase;
font-size: 22px;
font-weight: 900;

}
.left_area span{
  color: #1DC4E7;
  
  }
  .logout_btn{
    padding:5px;
    background:#19B303;
    text-decoration: none;
    float:right;
  margin-top: -30px;
margin-right: 40px;
border-radius: 2 px;
font-size: 15px;
font-weight: 600;
color:#fff;
transition: 0.5s;
transition-property: background;  }

.logout_btn :hover{
  background: #0d9dbb;
}
.sidebar{
  background:#2F323A;
  margin-top:70px;
  padding-top: 30px;
  position:fixed;
  left:0;
  width: 250px;
  height: 100%;

}
.sidebar Link{
  color:#fff;
  display:block;
  width:100%;
  line-height:60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  


}
.sidebar Link:hover{background:#19B303;
} */